{% extends "subscriptions/index.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
{% block script %}
<script src="{% static 'subscriptions/js/contract_list.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
{% endblock %}
{% block content %}
{% csrf_token %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a href="{% url 'subscriptions:index' %}">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Planos assinados(Histórico)</li>
    </ol>
</nav>
<div class="card card-custom gutter-b bg-white mt-10" style="width: 100%;">
    <div class="card-body" style="width: 100%;">
        <table class="table table-head-custom" id="kt_contract" style="width: 100%;">
            <thead>
                <tr>
                    <th class="datatable-row datatable-row-even">ID</th>
                    <th class="datatable-row datatable-row-even">Descrição do plano</th>
                    <th class="datatable-row datatable-row-even">Valor</th>
                    <th class="datatable-row datatable-row-even">Desconto</th>
                    <th class="datatable-row datatable-row-even">Data de pagamento</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}